<table border="1">
	<tr>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	</tr>
	<tr>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	</tr>
	<tr>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	</tr>
	<tr>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/white.png"/></td>
	    <td><img src="img/black.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	</tr>
	<tr>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/black.png"/></td>
	    <td><img src="img/white.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	</tr>
	<tr>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	</tr>
	<tr>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	</tr>
	<tr>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	    <td><img src="img/empty.png"/></td>
	</tr>
</table>
